@model IEnumerable<SerTerraQueijaria.Models.Produto>

@{
    Layout = "_Layout-Admin";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiposProdutosId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdEstoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiposProdutosId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdutoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ProdutoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdutoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
