@model IEnumerable<SerTerraQueijaria.Models.Produto>

@{
    Layout = "_Layout-Admin";
    ViewData["Title"] = "Index";
}

<div class="linhas w-100">
    <hr class="styleLinha" size="4" />
    <h1 class="lancaLinha">ÁREA RESTRITA</h1>
    <hr class="styleLinha" size="4">
</div>

<table class="table table-striped table-hover table-bordered rounded-3 border-1 border-dark m-5 ">
    <thead>
        <tr>
            <th class="col">
                @Html.DisplayNameFor(model => model.NomeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiposProdutos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagem)
            </th>
            <th>
                <a asp-action="Create" class="btn btn-outline-dark m-1 col-md d-none d-lg-block d-md-block cols-md-6 mt-1 col-md">
                    <svg bootstrap-icon="PlusSquare" width="16" height="16" arial-label="Criar"></svg>
                    Criar novo
                </a>
            </th>

        </tr>


    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col">
                    @Html.DisplayFor(modelItem => item.NomeProduto)
                </td>
                <td class="col">
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td class="col">
                    @Html.DisplayFor(modelItem => item.PrecoUnitario)
                </td>
                <td class="col">
                    @Html.DisplayFor(modelItem => item.QtdEstoque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TiposProdutos.TipoProduto)
                </td>
                <td>
                    <img src="@item.Imagem" class="card-img-top" alt="...">
                    @* @Html.DisplayFor(modelItem => item.Imagem) *@
                </td>
                <td class="col-4">
                    <a asp-action="Edit" asp-route-id="@item.ProdutoId" class="btn btn-outline-dark m-1 col-md d-none d-lg-block d-md-block cols-md-6 mt-1">
                        <svg bootstrap-icon="PencilSquare" width="16" height="16" arial-label="Editar"></svg>
                        Editar
                    </a>

                    <a asp-action="Details" asp-route-id="@item.ProdutoId" class="btn btn-outline-dark m-1 col-md d-none d-lg-block d-md-block cols-md-6 mt-1">
                        <svg bootstrap-icon="InfoCircle" width="16" height="16" arial-label="Detalhes"></svg>
                        Detalhes
                    </a>

                    <a asp-action="Delete" asp-route-id="@item.ProdutoId" class="btn btn-outline-dark m-1 col-md d-none d-lg-block d-md-block cols-md-6 mt-1">
                        <svg bootstrap-icon="Trash" width="16" height="16" arial-label="Deletar"></svg>
                        Deletar
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>



